<!-- `<li class="post"><span class="post-header">At ${new Date(post.createdAt).toTimeString().substring(0, 8)}, ${post.author} said:</span> ${post.body}</li>` -->
<li class="post"><span class="post-header">At {{timeString createdAt}}, {{authorString author}} said:</span> {{body}}</li>
