@import '~bootstrap/scss/bootstrap';

$title: #5555ff;
$background: #d0ccff;
$selection: #aa99ee;
$post-header-background: #333344;
$post-header-text: #eeeeff;

body {
  background-color: $background;
  padding: 10px;
}

#title {
  margin: -10px;
  // // margin-top: -50px;
  padding-left: 10px;
  color: $post-header-text; // name this variable something different
}

.forum-title {
  margin-bottom: 0; // Isn't overriding bootstrap
}

.forum-item:hover {
  background-color: $selection;
}

.list-group-item.post {
  padding: 5px;
}
.list-group-item.post-header {
  padding: 5px;
}

// .whole-post {
//   width: 95%;
// }

.post {
  background-color: adjust-color($background, $lightness: 5%);
  // height: 2ems;
}

.post-header {
  background-color: $post-header-background;
  color: $post-header-text;
}

textarea {
  margin: 10px;
  width: 95%;
}

// For local fonts, put the files in `public`, and then import and use them in a
// `.scss` file like this:
//
// ```scss
// @font-face {
//   font-family: 'Nature Beauty';
//   src: url('public/Nature-Beauty.ttf') format('truetype');
// }
//
// .element-with-custom-font {
//   font-family: 'Nature Beauty';
// }
// ```
